.modalWindow {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* щоб спочатку його не було видно */
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.modalWindowContent {
  padding: 25px;
  background: white;
  border-radius: 16px;
  min-width: 250px;
}

.modalWindow.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
